body {
}

.block {
    width: 500px;
    height: 5vh;
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 25px;
    
}

    .block > div {
        padding: 5px;
    }

button {
    height: 5vh;
    width: 125px;
}
