@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.0);
    background-blend-mode: lighten;
    font-family: 'Roboto Condensed';
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 38px;
}

ol {
    font-size: 35px;
    line-height: 1.6;
    font-weight: 400;
    text-indent: 10px;
    list-style: decimal;
}

summary {
    font-size: 35px;
    font-weight: 500;
}

input {
    font-size: 20px;
    margin: 15px;
}
/*------------------------------------------------------*/
.dark, .white {
    transition-property: color, background;
    transition-timing-function: ease;
}

.dark {
    color: #C8C8C8;
    background-image: url('image/fone_site_black_1.jpg');
    background-attachment: fixed;
}

    .dark #switch-background {
        filter: brightness(0) invert(1);
    }

.white {
    color: black;
    background-image: url('image/fone_site_white.jpg');
    background-attachment: fixed;
}

#header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#switch-background {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0px 16px;
}
/*------------------------------------------------------*/
#photo-and-color {
    display: flex;
    justify-content: space-between;
}

#photo-container {
    border: solid 1px;
    width: 400px;
    height: 300px;
    margin: 15px;
}

#photo {
    width: 400px;
    height: 300px;
    object-fit: cover; /* Для правильного отображения загруженных фото */
}

#color-sample {
    width: 200px;
    height: 200px;
}

.block {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}
/*----------------------------------------------------------------*/

details {
    font-size: 24px;
}

pre {
    font-size: 24px;
    font-family: monospace;
}

#current-time {
    font-size: 30px;
    font-weight: bold;
}

#current-date {
    font-size: 30px;
    font-weight: bold;
}

#day-of-week {
    font-size: 30px;
    font-weight: bold;
}

/*#show-date {
    font-size: 30px;
    font-weight: bold;
}

#show-weekday {
    font-size: 50px;
    font-weight: bold;
}*/
