body {
    background-image: url('image/Windows-XP.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 50px;
    font-family: Tahoma;
    text-shadow: 1px 1px black;
}

.main-window {
    width: 400px;
    height: 360px;
    position: absolute;
    left: 200px;
    top: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title-bar {
    width: 100%;
    height: 38px;
    background-image: linear-gradient( rgb(38,132,244), rgb(0,86,228),rgb(0,86,228),rgb(0,86,228), rgb(4,105,253),rgb(4,105,253),rgb(4,105,253) );
    box-shadow: inset 0px 0px 4px 1px #002195;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-left-side {
    display: flex;
    margin: 0px 8px;
}

.title-bar-right-side {
    margin: 0px 8px;
}

#app-icon {
    width: 24px;
    height: 24px;
}

.control-button, .control-button:disabled, .control-button:disabled:hover {
    width: 24px;
    height: 24px;
    color: white;
    font-weight: 800;
    border: solid 1px white;
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, #55A1FF, #0025B5);
    box-shadow: inset 3px 1px 3px 0px #77A1F5;
}

    .control-button:hover {
        background-image: linear-gradient(to bottom right, #75C1FF, #2045D5);
        box-shadow: inset 0px 0px 3px 3px #77A1F5;
    }

    .control-button:active {
        background-image: linear-gradient(to bottom right, #55A1CF, #0025B5);
        box-shadow: inset 0px 0px 3px 3px #5781F5;
        color: lightgray;
    }

    .control-button:disabled, .control-button:disabled:hover {
        color: lightgray;
        background-color: lightgray;
    }

#close-button {
    background-image: linear-gradient(to bottom right, #C97475, #FF3010);
    box-shadow: inset 1px 1px 3px 1px #C49A9B;
}

    #close-button:hover {
        background-image: linear-gradient(to bottom right, #D98485, #FF3020);
        box-shadow: inset 0px 0px 3px 3px #C49A9B;
    }

    #close-button:active {
        background-image: linear-gradient(to bottom right, #D95495, #FF3020);
        box-shadow: inset 0px 0px 3px 3px #B48A8B;
    }

.work-area {
    width: 100%;
}

.client-rect {
    width: 100%;
    height: 322px;
    background-color: rgb(235,233,216);
    display: flex;
    justify-content: space-between;
}

.menu-bar {
    width: 100%;
    display: flex;
    border-bottom: solid 1px white;
}

    .menu-bar > button {
        width: 50px;
        height: 22px;
        margin: 1px;
        background: rgb(236,233,216);
        border: none;
    }

        .menu-bar > button:hover {
            box-shadow: 1px 1px 0 0 gray;
            background: rgb(246,243,226);
        }

        .menu-bar > button:active {
            box-shadow: inset 1px 1px 0 0 gray;
            background: rgb(226,223,206);
        }

.display {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

    .display > input[type=text] {
        width: 91%;
        text-align: right;
        font-family: Transistor;
        font-size: 18px;
    }

/*------------------------------------------------------------------*/
.buttons {
    display: flex;
    justify-content: space-around;
    padding: 5px 4px;
}

.memory-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    width: 50px;
    height: 40px;
    margin: 5px;
    border: solid 1px darkblue;
    border-radius: 4px;
    font-family: Transistor;
    font-size: 18px;
    box-shadow: inset 0 -2px 2px 1px lightgray;
    /* Эффекты нажатия */
    transition: all 0.1s ease;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer; /* Смена курсора на пальчик */
}

    .buttons button:active {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        transform: translateY(2px);
        background-color: #e0e0e0;
    }

.memory-buttons > button, .control-buttons > button {
    color: red;
    box-shadow: inset 0 -2px 2px 1px lightgray;
    /* Эффекты нажатия */
    transition: all 0.1s ease;
    cursor: pointer;
}

    .memory-buttons > button:active, .control-buttons > button:active {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        transform: translateY(2px);
        background-color: #e0e0e0;
    }

.battery {
    width: 40px;
    height: 40px;
    margin: 5px;
    box-shadow: inset 1px 1px 0px 0px gray;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
}
/*------------------------------------------------------------------*/
.control-and-digital-buttons {
    width: 80%;
}

.control-buttons > button {
    width: 88px;
    height: 40px;
    margin: 5px;
}

.digital-buttons {
    display: grid;
    grid-template-rows: repeat(4, 40px);
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10.1px 11px;
    padding: 1px;
}

.buttons button:hover,
.memory-buttons > button:hover,
.control-buttons > button:hover {
    background-color: #f5f5f5;
}
/*------------------------------------------------------------------*/
.border-left {
    width: 5px;
    height: 100%;
    background-image: linear-gradient(to right, #0033D7, #1969F4, #0033D7);
}


.border-bottom {
    width: 400px;
    height: 5px;
    background-image: linear-gradient(#0033D7, #1969F4, #0033D7);
}

.border-right {
    width: 5px;
    height: 100%;
    background-image: linear-gradient(to right, #0033D7, #1969F4, #0033D7);
}
